body {
    background-color: rgb(222, 223, 238);
}
#container {
    width: 890px;
    height: 950px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid rgb(44, 55, 119);
    box-shadow: 10px 15px 5px rgb(187, 189, 214);
    margin-bottom: 80px;
}

#container #quiz h1, h3 {
    text-align: center;
}
input[type='submit'] {
    background: rgb(44, 55, 119);
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 10px;
}
input[type='radio'] {
    cursor: pointer;
}
#results {
    background: rgb(44, 55, 119);
    color: white;
    padding: 10px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #777;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-top: 6px solid rgb(44, 55, 119);
}

